<div fxLayout="row" fxLayout.xs="column"  fxLayoutGap="32px">
    <mat-card fxFlex="50%" >
        <mat-card-subtitle>
            {{'change-password.titles.title1' | translate}}
        </mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form class="form-class" [formGroup]="passwordForm"  >
                <mat-form-field appearance="outline" class="field-class ">
                  <mat-label>  {{'change-password.form.password' | translate}}</mat-label>
                  <input type="password" matInput  formControlName="oldpassword" required>
                  <mat-error *ngIf="passwordForm.get('oldpassword').invalid">
                    {{'validations.required' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="field-class ">
                    <mat-label>  {{'change-password.form.repeatpassword' | translate}}</mat-label>
                    <input type="password" matInput  formControlName="oldpassword2" required >
                    <mat-error *ngIf="passwordForm.get('oldpassword2').hasError('required')">
                      {{'validations.required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('oldpassword2').hasError('confirm')"
                               translate [translateParams]="{value: 'change-password.form.password' | translate}">
                      {{'validations.inconsistent'}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="field-class " style="flex-basis: 93%;">
                    <mat-label>  {{'change-password.form.newpassword' | translate}}</mat-label>
                    <input type="password" matInput formControlName="newpassword"  required >
                    <mat-error *ngIf="passwordForm.get('newpassword').hasError('required')">
                      {{'validations.required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('newpassword').hasError('minlength')" 
                    translate [translateParams]="{number: '8' | translate}">
                      {{'validations.minlength'}}
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('newpassword').hasError('maxlength')" 
                    translate [translateParams]="{number: '30' | translate}">
                      {{'validations.maxlength'}}
                    </mat-error>
                  </mat-form-field>
              
            
               
              </form>
        </mat-card-content>
        <mat-divider></mat-divider>
        
        <mat-card-actions align="end">  <button (click)="reset()"  mat-stroked-button color="warn"> {{'create-user.buttons.button2' | translate}}  </button>  <button [disabled]="passwordForm.invalid" (click)="update_password()"  mat-stroked-button color="primary"> {{'create-user.buttons.button1' | translate}}  </button></mat-card-actions>
    </mat-card>
 
  
</div>