
.container {
   
    width: 80%;
}

.form-class{

     width: 90%;
     margin-left: 5%;
     padding : 15px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}
.field-class {
    flex-basis: 45%;
    
   
   
}

