<div fxLayout="row" fxLayout.xs="column"  fxLayoutGap="32px">
    <mat-card fxFlex="50%" >
        <mat-card-subtitle>
            {{'Settings' | translate}}
        </mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form class="form-class" >
               
              
            
               
              </form>
        </mat-card-content>
        <mat-divider></mat-divider>
        
        <mat-card-actions align="end">  <button mat-stroked-button color="warn"> {{'create-user.buttons.button2' | translate}}  </button>  <button  mat-stroked-button color="primary"> {{'create-user.buttons.button1' | translate}}  </button></mat-card-actions>
    </mat-card>
 
  
</div>
